@reference "tailwindcss";

.header {
  width: 100%;
  height: 50px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  &__user-menu-button {
    display: flex;
    align-items: center;
  }

  &__outer {
    // position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: var(--tuna);
  }

  &__inner {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    height: 100%;
  }
}
